<template>
    <div class="product-detailed" v-if="!loading">
      <div class="product-inner">
        <div class="row">
          <div class="col-md-6 images"></div>
          <div class="col-md-6 description">
            <div class="row">
              <div class="col-md-12 title">
                <span>{{ product.name }}</span>
              </div>
              <div class="col-md-12 price">
                {{ product.price }} $
              </div>
              <div class="col-md-12 actions"></div>
              <div class="col-md-12 additional-information">
                <div class="summary-description">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="loading" v-if="loading">
          <span>Loading...</span>
        </div>
      </div>
    </div>
</template>

<script>
  import {getSpecificProduct} from '../../services/api_services'

  export default {
    name: "productDetailed",
    data () {
      return {
        product: null,
        loading: true
      }
    },

    created () {
      let productId = this.$route.params.id;

      getSpecificProduct(productId)
        .then(response => {
          this.$data.product = response.data;
          this.$data.loading = false;
        })
        .catch(error => {console.log(error)});
    }
  }
</script>

<style scoped>

</style>
