<template>
  <div class="footer col-md-12">
    <h5 class="footer-copyright"> © 2017 LexAli Jewellery</h5>
  </div>
</template>

<script>
export default {
  name: 'main-footer',
  data () {
    return {}
  }
}
</script>

<style lang="less">
  .footer {
    .footer-copyright {
      text-align: right;
      font-size: 1.2em;
    }
  }
</style>
