<template>
  <div class="products">
    <div class="col-md-12">
      <div class="row">
        <product-filter></product-filter>
        <div class="col-md-9">
            <div class="row">
              <product-sorting></product-sorting>
              <product-grid></product-grid>
            </div>
        </div>
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'products',
  data () {
    return {
      allProducts: [],
    }
  },
}
</script>

<style>
  .products {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
  }

</style>
