<template>
  <div class="header col-md-12">
     <div class="container-fluid">
       <div class="row">
         <div class="col-12">
           <main-head class="main-head"></main-head>
         </div>
       </div>
    </div>
   </div>
</template>

<script>
import minifiedNavbar from './minifiedNavbar.vue'
import mainHead from './mainHead.vue'

export default {
  components: { minifiedNavbar, mainHead},
  name: 'main-header',
  data () {
    return {
      minifiedNavbarOpened: false
    }
  }
}
</script>

<style>

  .header {
    padding: 15px 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
  }

  .navbar {
    padding: 0;
  }

  .hamburger-button {
    color: black;
  }

  .hamburger-button:hover {
    cursor: pointer;
    -o-transition:.5s;
    -moz-transition:.5s ease;
    -webkit-transition:.5s ease;
  }

  @media (max-width: 991px) {
    .navbar-toggler {
      padding-left: 0;
      font-size: 1.8em;
    }

    .common-navbar {
      display: none
    }

    .minified-navbar {
      display: block;
    }
  }

  @media (min-width: 992px) {
    .common-navbar {
      display: block;
    }

    .minified-navbar {
      display: none;
    }
  }
</style>
