<template>
  <div class="common">
    <div class="row">
      <div class="col left-main-bar bar">
        <ul>
          <li>
            <div class="searchbox" v-click-outside="deactivateSearchBox" @click="activateSearchBox">
              <i class="fas fa-search" v-bind:class="{enabled: isSearchBoxActive, disabled: !isSearchBoxActive}"></i>
              <input type="text" placeholder="SEARCH"
                     v-bind:class="{'focused-search-input': isSearchInputActive,
                                    'unfocused-search-input': !isSearchInputActive}">
              <i class="fas fa-angle-right"
                 v-bind:class="{enabled: isSearchBoxActive, disabled: !isSearchBoxActive}"
                 @click="deactivateSearchBox">
              </i>
            </div>
          </li>
        </ul>
      </div>
      <div class="col center-main-bar bar">
        <div class="logo">
          <router-link to="/" class="logo-link">LEXALI JEWELLERY</router-link>
        </div>
      </div>
      <div class="col right-main-bar bar">
        <ul>
          <router-link to=""><li>LOG IN</li></router-link>
          <router-link to=""><li>UAH <i class="fas fa-angle-down"></i></li></router-link>
          <router-link to=""><li>CART <i class="fas fa-shopping-bag"></i></li></router-link>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import ClickOutside from 'vue-click-outside'

  export default {
    name: 'main-head',
    directives: {
      ClickOutside
    },
    data () {
      return {
        isSearchBoxActive: false,
        isSearchInputActive: false,
      }
    },
    methods: {
      activateSearchBox () {
        this.$data.isSearchBoxActive = true;
        this.$data.isSearchInputActive = true;
      },
      deactivateSearchBox () {
        this.$data.isSearchBoxActive = false;
        this.$data.isSearchInputActive = false;
      }
    }
  }
</script>

<style lang="less">
  @logoFontSize: 1.8em;

  .left-main-bar {
    text-align: left;
    padding-top: 3px;
    ul {
      width: 100%;
      li {
        width: 50%;
        @media screen and (max-width: 1200px) {
          width: 75%;
        }
      }
    }

    .searchbox {
      position: relative;
      input {
        text-indent: 30px;
        padding: 5px 0;
        outline: 0;
        width: 100%;
      }
      input:focus::-webkit-input-placeholder { color:transparent; }
      input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
      input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
      input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

      .fa-search {
        position: absolute;
        top: 30%;
        left: 4%;
      }

      .fa-angle-right {
        position: absolute;
        top: 30%;
        right: 4%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .center-main-bar {
    text-align: center;
    font-size: @logoFontSize;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
  }

  .right-main-bar {
    text-align: right;
    padding-top: 7px;
  }

  ul {
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    display: inline-flex;
    a {
      color: grey;
      li {
        margin: 0 20px;
      }
    }
  }

  a {
      &:hover {
        cursor: pointer;
        color: black;
        text-decoration: none;
      }
    }

  .logo-link {
    color: black;
  }

  .enabled {
    display: block;
  }

  .disabled {
    display: none;
  }

  .focused-search-input {
    border: 1px solid black;
  }

  .unfocused-search-input {
    border: none;
  }
</style>
