<template>
  <div>
    <div class="hamburger-button" @click="changeMinifiedNavbarState">
      <div class="close-hamburger" v-show="isMainBackgroundBlackout">
        <img src="../../../../src/assets/main/close-hamburger.svg">
      </div>
      <div class="open-hamburger" v-show="!isMainBackgroundBlackout">
        <img src="../../../../src/assets/main/menu.svg">
      </div>
    </div>
    <transition name="fade">
      <div class="minified-navbar" v-show="isMainBackgroundBlackout">
        <ul class="navbar-nav">
          <li class="nav-item" @click="changeShopSubMenu">
            <router-link to="/">Shop
              <i v-bind:class="{'fas fa-angle-down angle': !getShopSubMenuState, 'fas fa-angle-up': getShopSubMenuState}"></i>
            </router-link>
          </li>
          <div class="shop-menu" v-show="getShopSubMenuState">
            <li>
              <router-link to="/">Earrings</router-link>
            </li>
            <li>
              <router-link to="/">Rings</router-link>
            </li>
            <li>
              <router-link to="/">Bracelets</router-link>
            </li>
            <li>
              <router-link to="/">Collection</router-link>
            </li>
          </div>
          <li>
            <router-link to="/">Lookbook</router-link>
          </li>
          <li>
            <router-link to="/">About us</router-link>
          </li>
          <li>
            <router-link to="/">Contact</router-link>
          </li>
          <li>
            <router-link to="/">Log In</router-link>
          </li>
          <li>
            <router-link to="/">CART <i class="fas fa-shopping-bag"></i></router-link>
          </li>
          <li @click="changeCurrencyMenu">
            <router-link to="/">UAH <i class="fas fa-angle-down"></i></router-link>
          </li>
          <div class="currency-menu" v-show="getCurrencyMenuState">
            <li>
              <router-link to="/">Uah</router-link>
            </li>
            <li>
              <router-link to="/">Usd</router-link>
            </li>
            <li>
              <router-link to="/">Gbp</router-link>
            </li>
          </div>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import {mapMutations, mapState, mapGetters} from 'vuex'

export default {
  name: 'minified-navbar',
  directives: {
    ClickOutside
  },
  data () {
    return {}
  },
  computed: {
    ...mapState(['isMainBackgroundBlackout']),
    ...mapGetters(['getShopSubMenuState', 'getCurrencyMenuState'])
  },
  methods: {
    changeMinifiedNavbarState () {
      this.changeMainBackground()
    },
    ...mapMutations(['changeMainBackground', 'changeShopSubMenu', 'changeCurrencyMenu'])
  }
}
</script>

<style lang="less" >
  .hamburger-button {
    z-index: 999;
    width: 35px;
    height: 35px;
    position: fixed;
    left: 15px;
    top: 15px;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 75%;
      height: 75%;
    }
  }

  .minified-navbar {
    background: #464646;
    width: 40vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding-top: 12%;

    ul {
      width: 100%;

      .shop-menu, .currency-menu {
        li {
          background: white;
          a {
            color: black;
          }
        }
      }
      li {
        width: 100%;
        background: #000000;
        text-align: center;
        padding: 10px 15px;
        a {
          color: white;
          text-transform: uppercase;
          display: block;
          position: relative;
          i {
            font-size: 1.4em;
            position: absolute;
            top: 25%;
            right: 1%;
          }
        }
      }
    }
  }

  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
  }

</style>
