<template>
  <div class="">
    <nav class="navbar navbar-expand-sm navbar-light bg-light" data-toggle="affix">
      <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" @click="changeShopSubMenu">Shop
                <i v-bind:class="{'fas fa-angle-down': !getShopSubMenuState, 'fas fa-angle-up': getShopSubMenuState}">
                </i>
              </a>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="">Lookbook</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="">About Us</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="">Contact</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <transition>
      <div class="submenu">
        <shop-sub-menu v-if="getShopSubMenuState"></shop-sub-menu>
      </div>
    </transition>
   </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'
import shopSubMenu from './shopSubMenu.vue'
export default {
  components: {shopSubMenu},
  name: 'navigation-bar',
  data () {
    return {

    }
  },
  computed: {
    ...mapGetters(['getShopSubMenuState'])
  },
  methods: {
    ...mapMutations(['changeShopSubMenu'])
  }
}
</script>

<style>
  .navbar-nav {
    text-transform: uppercase;
  }

</style>
