<template>
  <div class="shop-sub-menu">
    <nav class="navbar navbar-expand-sm navbar-light" data-toggle="affix">
      <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link" to="">Earrings</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="">Rings</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="">Bracelets</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="">Collection</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {

  name: 'shop-sub-menu',
  data () {
    return {

    }
  }
}

</script>

<style>
  .shop-sub-menu {
    background: #e6e5e4;
  }

  .shop-sub-menu li {
    font-size: 0.9em;
  }

</style>
