<template>
  <div class="product-filter-outer col-md-3">
    <div class="product-filter-inner">
      <div class="product-filter-header">
        <span>FILTER BY</span>
      </div>
      <hr/>
      <div class="section-filter section-outer"
           v-for="filter in checkFilters">
        <div class="section-filter-header" @click="changeAccordionState(filter)" v-bind:class="{active: filter.opened}">
          <span class="section-filter-title">{{ filter.name }}</span>
          <i class="expand-filter far"
             v-bind:class="{'fa-caret-square-up': filter.opened,
                            'fa-caret-square-down': !filter.opened}">
          </i>
        </div>
        <transition name="fade" appear>
           <div class="section-inner" v-if="filter.opened">
            <div v-for="item in filter.filterList" class="section-filter-item" @click="checkFilterItem(item, filter.name)">
              <span>{{ item.name }}</span>
              <transition name="fade" appear>
                <i class="section-selector"
                   v-bind:class="{'fas fa-square': item.checked, 'far fa-square': !item.checked}">
                </i>
              </transition>
            </div>
          </div>
        </transition>
      </div>
      <div class="apply-filter">
        <button type="button">
          Apply
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {getAllCheckFilters} from '../../../services/api_services'
import {getPriceRangeForPriceFilter} from '../../../services/api_services'

export default {
  name: 'productFilter',

  data () {
    return {
      checkFilters: [],
      minMaxPriceRange: {
        min_product_price: 0,
        max_product_price: 0
      },
      selectedCheckFilters: {}
    }
  },

  mounted () {
    getAllCheckFilters()
      .then(response => {
        for (let filter of response.data) {
          let type = filter.type;
          let filterList = filter.payload;
          let mappedFilter = this.mapCheckFilter(type, filterList);

          this.$data.checkFilters.push(mappedFilter);
        }
        this.fillDefaultSelectedCheckFilters();
      })
      .catch(error => {
        console.log(error)
      });

    getPriceRangeForPriceFilter()
      .then(response => {
        this.$data.minMaxPriceRange.min_product_price = response.data.min_product_price;
        this.$data.minMaxPriceRange.max_product_price = response.data.max_product_price;
      });
  },

  methods: {
    changeAccordionState: (filter) => filter.opened = filter.opened !== true,

    checkFilterItem (item, filterType) {
      let selectedCheckFilters = this.$data.selectedCheckFilters;

      item.checked = item.checked !== true;

      if (item.checked) {
        selectedCheckFilters[filterType].push(item.name);
      } else {
        let index = selectedCheckFilters[filterType].indexOf(item.name);

        if (index !== -1) selectedCheckFilters[filterType].splice(index, 1);

      }
      console.log(selectedCheckFilters)

    },

    mapCheckFilter: (filterName, filters) => {
      let categoryFilter = {
        name: filterName,
        opened: false,
        filterList: []
      };

      for (let filter of filters) {
        filter.checked = false;
        categoryFilter.filterList.push(filter);
      }

      return categoryFilter
    },

    fillDefaultSelectedCheckFilters () {
      for (let filter of this.$data.checkFilters) {
        this.$data.selectedCheckFilters[filter.name] = [];
      }
    }

  }
}
</script>

<style lang="less">
  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .product-filter-inner {
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .product-filter-header {
      font-weight: 600;
    }

    .section-filter-header {
      padding: 15px 15px 15px 0;
      font-size: 0.85em;

      &:hover {
        cursor: pointer;
      }

      .section-filter-title {
        font-size: 1.12em;
      }
    }
    .section-inner {
      padding-right: 15px;

      .section-filter-item {
        font-size: 0.8em;
        cursor: pointer;
        margin: 5px 0 0 15px;

        .section-selector {
          float: right;
          font-size: 1.5em;
          cursor: pointer;
          -webkit-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
        }
      }
    }

  }

  .apply-filter {
    float:right;
    padding: 15px 15px 15px 0;

    button {
      cursor: pointer;
      background: #000000;
      color: white;
      font-weight: 600;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: none;

      &:hover {
        background: #3da538;
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        -ms-transition: background 0.3s;
        -o-transition: background 0.3s;
        transition: background 0.3s;
      }
    }
  }

  .active {
    /*background: #f3fff7;*/
  }

  .expand-filter {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
  }

  .expanded {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .collapsed {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1.5s linear;
  }
</style>
