<template>
  <div class="product-grid-outer col-md-12">
    <!--products sorting-->
  </div>
</template>

<script>
export default {
  name: 'productSorting',
  data () {
    return {}
  }
}
</script>

<style>

</style>
