<template>
  <div class="product-grid-outer col-md-12">
    <div class="row">
      <div class="col-md-4 product-outer" v-for="product in allProducts">
        <div class="product-inner">
          <router-link v-bind:to="'/products/' + product.pk">
            <div class="product-title">
              <span>{{ product.name }}</span>
            </div>
          </router-link>
          <div class="product-image">
            <img src="">
          </div>
          <div class="test">
            <div class="test-inner">
              <div class="like">
                <i class="fas fa-heart"></i>
              </div>
              <div class="buy">
                <i class="fas fa-shopping-cart"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {getAllProducts} from '../../../services/api_services'

  export default {

    name: 'productGrid',
    data () {
      return {
        allProducts: [],
        x: []
      }
    },

    mounted () {
      getAllProducts()
        .then(response => {
          this.removeProductsFromVuex();
          let products = response.data;
          this.fetchAllProductsToVuex(products);
          this.$data.allProducts = this.$store.getters.getAllProducts;
        })
        .catch(error => {console.log(error)});
    },

    methods: {
      removeProductsFromVuex () {this.$store.commit('removeAllProducts');},
      fetchAllProductsToVuex (products) {this.$store.commit('setAllProducts', products);}
    }
}
</script>

<style lang="less">
  .product-actions-to-cart-block {
    padding-right: 0;
    text-align: right;
  }
  
  .product-actions-to-wishlist-block {
    text-align: left;
    padding-left: 0;
  }


  .product-outer {
    padding: 15px;
    text-align: center;
    
    .product-inner {
      background: white;
      height: 270px;
      border: 1px solid black;
      -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      .product-title {
        font-weight: 600;
      }

      .product-image img {
        margin: 20px 0 0 0 ;
        width: 100%;
        height: auto;
      }

      .product-actions-outer {
        .product-actions-inner {
          .row {
            margin: 0;
          }
        }

        button {
          font-size: 1.4em;
          font-weight: 600;
          width: 2.4em;
          height: 2.4em;
          box-shadow: none;
          background: transparent;
          color: black;
          border: none;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            border: none;
            background: transparent;
            -webkit-transition: ease-in-out 0.3s;
            -moz-transition: ease-in-out 0.3s;
            -ms-transition: ease-in-out 0.3s;
            -o-transition: ease-in-out 0.3s;
            transition: ease-in-out 0.3s;
          }
        }
      }
    }
  }



</style>
