<template>
  <div class="wrapper-outer">
    <div class="wrapper-inner container">
      <div class="shop-now-box">
        <div class="image">
          <div class="shop-button">
            <span>SHOP ALL</span>
          </div>
        </div>
      </div>
      <!--<div class="ring-box">-->
        <!--<div class="image">-->
          <!--<div class="ring-button">-->
            <!--<span>RINGS</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'main',
  data () {
    return {}
  }
}
</script>

<style lang="less">
  @mainBackground: #FFFFFF;
  @shopButtonWidth: 15%;
  @shopButtonHeight: 5em;

  .wrapper-outer {
    background: @mainBackground;
    padding-top: 15px;
  }

   .shop-now-box {
    width: auto;
    height: auto;
    position: relative;

    .image {
      transition: all 0.3s ease;
      width: 100%;
      height: 80vh;
      position: absolute;
      z-index: 1;
      background-size: cover;
      background: url('../../assets/main/shopnow.jpg') no-repeat center center;

      .shop-button {
        position: relative;
        height: 100%;

        span {
          transition: background 0.4s ease;
          text-align: center;
          display: block;
          position: absolute;
          left: calc(50% - @shopButtonWidth/2);
          width: @shopButtonWidth;
          height: @shopButtonHeight;
          top: 65%;
          padding-top: calc(@shopButtonHeight - 3.4em);
          border: 1px solid #949494;
          background: transparent;
          color: black;

          &:hover {
            cursor: pointer;
            background: black;
            color: white;
            border: 1px solid white;
          }
        }
      }
    }
  }

  .ring-box {
    width: auto;
    height: auto;
    position: relative;

    .image {
      transition: all 0.3s ease;
      width: 100%;
      height: 80vh;
      position: absolute;
      z-index: 1;
      background-size: cover;
      background: url('../../assets/main/rings.jpg') no-repeat center center;

      .ring-button {
        position: relative;
        height: 100%;

        span {
          transition: background 0.4s ease;
          text-align: center;
          display: block;
          position: absolute;
          left: calc(50% - @shopButtonWidth/2);
          width: @shopButtonWidth;
          height: @shopButtonHeight;
          top: 65%;
          padding-top: calc(@shopButtonHeight - 3.4em);
          border: 1px solid #949494;
          background: transparent;
          color: black;

          &:hover {
            cursor: pointer;
            background: black;
            color: white;
            border: 1px solid white;
          }
        }
      }
    }
  }

</style>
