<template>
  <div class="info col-md-12">
    <h3 class="info-title">LexAli Jewellery - авторские украшения</h3>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {}
  }
}
</script>

<style>
  .info {
    text-align: center;
  }

  .info-title {
    font-family: 'Niramit', sans-serif;
    font-size: 1.4em;
  }

</style>
