<template>
  <div class="main-image col-md-12">

  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {}
  }
}
</script>

<style>
  .main-image {
    background: url("../../../assets/main_image.jpg");
    display: block;
    height: 900px;
  }

</style>
