<template>

  <div class="products-button-section products-button-section col-4 offset-4 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
    <router-link to="/products" class="nav-link">
    <div class="products-button">

        <div class="button-link-block col-sm-8 offset-sm-2">
          <h4 class="products-button-link">Все товары</h4>
        </div>

    </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {}
  }
}
</script>

<style lang="less">
  .products-button {
    position: relative;
    background: black;
    height: 50px;
    text-align: center;
    transition: all 0.7s ease;
    border: 2px solid #c0c0c0;
    color: white;

    &:hover {
      background: white;
      color: black;
      cursor: pointer;
     }

    .button-link-block {
      position: absolute;
      top: 25%;
      padding: 0;

      h4 {
        font-size: 1.2em;
        margin: 0;
      }
    }
  }



</style>
