<template>
  <div id="app">
    <main-header class="base-head-element"></main-header>
    <navigation-bar class="base-head-element"></navigation-bar>
    <navigation-bar-minified class="base-head-element-minified"></navigation-bar-minified>
    <div v-bind:class="{overlay: getMainBackgroundState}">
      <router-view/>
    </div>

    <!--<main-footer></main-footer>-->
  </div>
</template>

<script>
import navigationBar from '../src/components/base/header/navigationBar.vue'
import navigationBarMinified from '../src/components/base/header/minifiedNavbar.vue'
import {mapGetters} from 'vuex'

export default {
  components: {navigationBar, navigationBarMinified},
  name: 'app',
  data () {
    return {}
  },
  computed: {
    ...mapGetters(['getMainBackgroundState'])
  }
}
</script>

<style lang="less">
  body {
    background-color: #FFFFFF;
    font-size: 14px;
    font-family: 'Noto Serif KR', serif;
  }

  .base-head-element {
    border-bottom: 1px solid #bfbfbf;
  }

  .base-head-element-minified {
    display: none;
  }

  @media screen and (max-width: 992px) {
    body {
      margin-top: 20px
    }

    .base-head-element {
      display: none;
    }

    .base-head-element-minified {
      display: block;
    }
  }

  .overlay {
    background-color: #000; /* Чёрный фон */
    /*height: 100%; !* Высота максимальна *!*/
    /*left: 0; !* Нулевой отступ слева *!*/
    opacity: 0.3; /* Степень прозрачности */
    /*position: fixed; !* Фиксированное положение *!*/
    /*top: 0; !* Нулевой отступ сверху *!*/
    /*width: 100%; !* Ширина максимальна *!*/
    /*z-index: 100; !* Заведомо быть НАД другими элементами *!*/
  }

</style>
